@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Questrial&display=swap");
@import "tailwindcss";

@theme  {
  --font-climate-crisis: "Climate Crisis", sans-serif;
  --font-display--font-climate-crisis: "YEAR" 1979;
  --font-questrial: "Questrial", sans-serif;
  --text-xs: 0.6em;
  --text-sm: 0.75em;
  --text-md: 0.875em;
  --text-lg: 1em;
  --text-xl: 1.25em;
  --text-2xl: 1.5em;
  --text-3xl: 2em;
  --text-4xl: 3em;
  --text-5xl: 5em;
  --text-6xl: 7em;
  --text-7xl: 10em;
  --text-8xl: 14em;
  --text-9xl: 20em;
  --text-10xl: 28em;
  --text-screen-sm: 1.2rem;
  --text-screen-md: 1.2rem;
  --text-screen-lg: 1.4rem;
  --text-screen-xl: 1.6rem;
  --text-screen-2xl: 2rem;
}

@layer base {
  body {
    @apply font-questrial text-screen-md sm:text-screen-sm lg:text-screen-lg xl:text-screen-xl 2xl:text-screen-2xl;
  }

  h1, h2, h3, h4 {
    @apply font-climate-crisis font-normal;
  }

  h5, h6 {
    @apply font-questrial font-normal;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  small {
    @apply text-sm;
  }
}
