@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Unica+One&display=swap");
@import "tailwindcss";

@theme  {
  --font-unica-one-regular: "Unica One", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --text-xs: 0.75em;
  --text-sm: 0.875em;
  --text-md: 1em;
  --text-lg: 1.25em;
  --text-xl: 1.5em;
  --text-2xl: 2em;
  --text-3xl: 3em;
  --text-4xl: 5em;
  --text-5xl: 7em;
  --text-6xl: 10em;
  --text-7xl: 14em;
  --text-8xl: 20em;
  --text-9xl: 28em;
  --text-screen-sm: 1.2rem;
  --text-screen-md: 1.2rem;
  --text-screen-lg: 1.4rem;
  --text-screen-xl: 1.6rem;
  --text-screen-2xl: 2rem;
}

:root {
  body {
    @apply bg-zinc-800 text-zinc-300 font-outfit font-extralight text-screen-md sm:text-screen-sm lg:text-screen-lg xl:text-screen-xl 2xl:text-screen-2xl;
  }

  h1 {
    @apply font-bold text-5xl;
  }

  h2 {
    @apply font-bold text-4xl;
  }

  h3 {
    @apply font-bold text-3xl;
  }

  h4 {
    @apply text-zinc-500 font-unica-one-regular font-normal text-2xl;
  }

  h5 {
    @apply text-zinc-500  font-unica-one-regular font-normal text-xl;
  }

  h6 {
    @apply font-bold text-lg;
  }
  
  small {
    @apply text-sm;
  }

  a,
  b,
  strong,
  i,
  em,
  mark,
  del,
  ins,
  sub,
  sup {
    @apply text-md;
  }
}