---
import { client, graphql } from "../lib/graphql";
import type { SocialNetworksResponse } from "../types/graphql";
import { AnimatedLogo } from "./react/AnimatedLogo";
import { Menu } from "./react/Menu";

const res = await client.request<SocialNetworksResponse>(graphql`
  query SocialNetworks {
    allSocialNetworks {
      edges {
        node {
          id
          connectionUrl
          fontAwesomeIcon
          label
        }
      }
    }
  }
`);

const socialNetworks = res.allSocialNetworks;
---

<header class="sticky top-0 flex items-center justify-between pt-24 pb-6 px-16">
  <div class="flex items-end h-full">
    <AnimatedLogo client:only="react" />
  </div>
  <div class="flex items-end h-full">
    <Menu client:only="react">
      Content
    </Menu>
  </div>
</header>
