---
import classNames from "classnames";
import { client, graphql } from "../lib/graphql";
import type { SocialNetworksResponse } from "../types/graphql";

const res = await client.request<SocialNetworksResponse>(graphql`
  query SocialNetworksResponse {
    allSocialNetworks {
      edges {
        node {
          id
          connectionUrl
          fontAwesomeIcon
          label
        }
      }
    }
  }
`);

const socialNetworks = res.allSocialNetworks.edges;
---

<nav class="space-x-4">
  <span>Follow me:</span>
  <ul class="inline-flex gap-2">
    {
      socialNetworks.map((network) => (
        <li>
          <a
            class="flex items-center justify-center border-zinc-300 border-2 rounded-full md:size-14 size-12 text-sm"
            href={network.node.connectionUrl}
            target="_blank"
          >
            <i class={classNames("fa-brands", network.node.fontAwesomeIcon)} />
            <span class="sr-only">{network.node.label}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
