---
import classNames from "classnames";
import { COLORS, SIZES } from "../lib/constants/tailwind";
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class={classNames(COLORS.PAGE.BACKGROUND, COLORS.PAGE.TEXT)}>
		<Header />
		<section class={classNames(SIZES.SPACING.X_AXIS, SIZES.SPACING.Y_AXIS)}>
			<slot />
		</section>
	</body>
	<script
		src="https://kit.fontawesome.com/1aad4926f4.js"
		crossorigin="anonymous"></script>
</html>
