---
import { Aside } from "../components/Aside";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="overflow-hidden bg-zinc-200 text-zinc-900">
		<main class="relative flex w-screen h-screen p-12">
			<section class="flex-1 h-full overflow-y-auto">
				<slot />
			</section>
			<Aside client:only="react"/>
		</main>
	</body>
	<script
		src="https://kit.fontawesome.com/1aad4926f4.js"
		crossorigin="anonymous"></script>
</html>
