---
import { Header } from "../components/Header";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-zinc-800 text-zinc-100">
		<div class="flex flex-col min-h-screen">
			<Header client:only="react"  />

			<main class="flex-1 min-w-xs">
				<slot />
			</main>
		</div>

		<script
			src="https://kit.fontawesome.com/1aad4926f4.js"
			crossorigin="anonymous"></script>
	</body>
</html>
